/* 元素默认样式 */
* {
    /* border: brown 1px solid; */
}

body {
    overflow: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    border-width: 1px;
}

button {
    outline: none;
    cursor: pointer;
}

button:focus,
button:active {
    outline: 1px black dotted;
}


a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

a:link,
a:visited {
    color: inherit;
}


/* 基本布局 */

.container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    position: relative;
    min-height: 100%;
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 120px;
    margin: 10px 0;

    display: flex;
}

main {
    min-height: 600px;
    margin: 10px 0;

    display: flex;
}

footer {
    height: 100px;
}

/* 网站标题 */
.site-brand {
    width: 200px;
}

.site-meta {
    height: 90%;

    display: flex;
    flex-flow: column;
}

.site-title {
    flex: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.site-subtitle {
    flex: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.toggle-btn {
    position: absolute;
    display: none;
}

/* 导航栏 */
.site-nav {
    flex: auto;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

ul.nav-menu {
    flex: auto;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

ul.nav-menu li {
    flex: auto;

    display: flex;
}

ul.nav-menu a {
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* 主要内容 */


/* 内容列表 */
aside.content-list {
    width: 200px;
    margin-right: 5px;
}

.search {
    padding: 5px 1px;

    display: flex;
}

.search input {
    flex: auto;
    width: 70%;
    margin: 2px;
    padding: 2px;
}

.search button {
    flex: auto;
    margin: 2px;
    padding: 2px;
}

.search-result {
    margin: 10px 0;
    padding: 5px 5px;
}

.content {
    flex: auto;
    margin-left: 5px;
    box-shadow: 2px 2px 5px #888888;
}


/* 样式 */


.header {
    box-shadow: 2px 2px 5px #888888;
}

.nav-menu-item {
    color: inherit;
}

ul.nav-menu a {
    text-decoration: none;
}

ul.nav-menu a:hover,
ul.nav-menu a:focus {
    color: white;
    background-color: darkgray;
}

aside.content-list {
    width: 200px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.search input {
    border-color: grey;
    border-width: 1px;
}

.search button {
    border-width: 0;
    background: #fff0 url(../img/search-btn.svg) 0 0 no-repeat;
}