/* 样式 */

::selection {
    color: #fff;
    background: #222;
}

body {
    color: #222;
    background: #eee;
}

.container {
    background: transparent;
}

.header {
    color: #fff;
    background: rgb(32, 32, 32);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.site-meta {
    /* */
}

.site-title {
    /* text-decoration: none; */
}

ul.site-nav-menu a {
    text-decoration: none;
}

ul.site-nav-menu a:hover,
ul.site-nav-menu a:active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

ul.content-nav-menu a {
    outline: none;
    text-decoration: none;
}

ul.content-nav-menu a:hover,
ul.content-nav-menu a:active {
    background-color: rgb(255, 248, 220);
}

.content-list {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.search input {
    border-color: grey;
    border-width: 1px;
}

.search button {
    border-width: 0;
    background: #0000 url(../img/search-btn.svg) center/contain no-repeat;
}

.content {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}