* {
    /* border: brown 1px solid; */
}

/* 基本布局 */

.container {
    position: relative;
    width: 1000px;
    min-height: 100%;
    min-width: 80vw;
    margin: 0 auto;
}

header {
    height: 120px;
    min-height: 10vh;
    margin: 10px 0;

    display: flex;
}

main {
    min-height: 600px;
    margin: 10px 0;

    display: flex;
}

footer {
    height: 100px;
    margin: 10px 0;
}

/* 网站标题 */
.site-brand {
    width: 200px;
    min-width: 15%;
}

.site-meta {
    height: 90%;

    display: flex;
    flex-flow: column;
}

.site-title {
    flex: auto;
    padding: 5px;
    text-align: center;
}

.site-subtitle {
    flex: auto;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.toggle-btn {
    position: absolute;
    display: none;
}

/* 导航栏 */
.site-nav {
    flex: auto;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

ul.site-nav-menu {
    flex: auto;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

ul.site-nav-menu li {
    flex: auto;

    display: flex;
}

ul.site-nav-menu a {
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* 主要内容 */


/* 内容列表 */
aside.content-list {
    flex: 1 0 auto;
    position: sticky;
    top: 0;
    max-height: 600px;
    min-width: 10vw;
    width: 200px;
    margin-right: 5px;

    display: flex;
    flex-flow: column;
}

.search {
    padding: 5px 1px;

    display: flex;
}

.search input {
    flex: auto;
    width: 70%;
    margin: 2px;
    padding: 2px;
}

.search button {
    flex: auto;
    margin: 2px;
    padding: 2px;
}

.content-nav {
    flex: auto;
    margin: 10px 0;
    padding: 5px 5px;
    overflow: hidden auto;
}

ul.content-nav-menu {
    max-height: 100%;
}

ul.content-nav-menu a {
    display: block;
    padding: 10px 0;
}

.content-nav-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/* 内容 */
.content {
    flex: auto;
    margin-left: 5px;
    padding: 20px;
}

.content-title {
    text-align: center;
}

.content-time {
    text-align: center;
}

p.content-text {
    width: fit-content;
    text-justify: auto;
    text-align: justify;
    text-indent: 2em;
}