* {
    /* DEBUG */
    /* border: brown 1px solid; */
}

/* helper */

.full-size {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-vc {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.toggle-btn {
    position: absolute;
    display: none;
}

.margin-hc {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 基本布局 */

body {
    font-family: "Consolas", "Microsoft YaHei", sans-serif;
}


.container {
    position: relative;
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
}

header {
    height: 120px;
    margin: 10px auto;
    border-radius: 2px;

    display: flex;
}

main {
    margin: 10px auto;

    display: flex;
}

footer {
    height: 50px;
    margin: 10px auto;
}

/* 网站标题 */
.site-meta {
    flex: 1;
    width: 0;
}

.site-title {
    flex: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.site-title a {
    position: relative;
    top: 20px;
    text-decoration: none;
}

.site-subtitle {
    flex: auto;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    letter-spacing: 1px;
}

/* 导航栏 */
.site-nav {
    flex: 4;
    width: 0;
}

ul.site-nav-menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

ul.site-nav-menu li {
    flex: auto;
    width: 0;
}

ul.site-nav-menu a {
    padding: 15px;
}

/* 主要内容 */


/* 内容列表 */
.content-list {
    flex: 1;
    width: 0;
    position: sticky;
    top: 2vh;
    max-height: 95vh;
    margin-right: 5px;
    border-radius: 2px;

    display: flex;
    flex-flow: column;
}

/* 搜索框 */
.search {
    padding: 10px 2px;

    display: flex;
    height: 50px;
    justify-content: space-around;
}

.search input {
    flex: auto;
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
}

.search button {
    display: block;
    height: 100%;
    margin: 0 5px;
    padding: 0 15px;
}

/* 内容导航列表 */
.content-nav {
    flex: auto;
    height: 0;
    padding: 5px 2px;
}



ul.content-nav-menu {
    overflow: hidden auto;
    max-height: 95%;
}

.content-nav-menu-item {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 5px 5px;
}

/* 内容 */
.content {
    flex: 3.5;
    width: 0;
    margin-left: 5px;
    padding: 20px;
    border-radius: 2px;
}

.content-title {
    text-align: center;
    font-size: 30px;
}

.content-time {
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}

.content-text {
    width: fit-content;
    text-justify: auto;
    text-align: justify;
    text-indent: 2em;
    line-height: 25px;
    hyphens: auto;
}